<footer class="u-container">
    <!-- 联系start -->
    <div class="u-row  padding-15 text-center bg-white font-size-12">
        <div class="page">
            <div class="row">
                <div class="u-col-md-5 text-left">
                    <h5><font><font>关于iuap design tinper</font></font></h5>
                    <p>
                        <font>
                            <font>帮助用户快速进行组件化开发，构建标准一致的前端页面，包含前端集成开发工具、前端UI框架、react组件库 、前端基础库等一系列技术产品。</font>
                        </font>
                    </p>
                </div>
                <div class="u-col-md-2 text-left  friend-link">
                    <h5><font>友情链接：</font></h5>
                    <p>
                        <a href="http://iuap.yonyou.com/" target="_blank">iuap</a>
                        <br>
                        <a href="http://design.yyuap.com/" target="_blank">iuap design</a>
                    </p>
                </div>
                <div class="u-col-md-2 text-left">
                    <h5><font>加入我们：</font></h5>
                    <p>电话：010-62438768
                        <br>邮箱：zhaoyni@yonyou.com
                        <br>工作日：9:00-17:00</p>
                </div>
                <div class="u-col-md-3 text-left">
                    <h5><font><font>关注我们</font></font></h5>
                    <div class="u-col-6 u-col-xs-6">
                        <div class="padding-0">
                            <div class="u-counter u-counter-lg">
                                <span><img class="width-50" src="/assets/images/qq-2d-code.png" alt="1"></span>
                                <div class="u-counter-label text-uppercase">
                                    <font>
                                        <br>
                                        <font class="">官方QQ交流群</font>
                                    </font>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-col-6 u-col-xs-6">
                        <div class=" padding-0">
                            <div class="u-counter u-counter-lg">
                                <span><img class="width-50" src="/assets/images/git-2d-code.png" alt="1"></span>
                                <div class="u-counter-label text-uppercase">
                                    <font>
                                        <br>
                                        <font class="">github地址</font>
                                    </font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 联系end -->
    <!-- 版权 start -->
    <div class="u-row padding-5 text-center bg-white font-size-12 ">
        <p>Copyright © 2016 yonyou iuapdesign. All Rights Reserved版权所有 京ICP备15025219号-1
            <br>Made with <i class="fa fa-heart pulse red"></i> by FED team</p>
    </div>
</footer>
