<footer class="u-container-fluid  bg-white">
    <!-- 联系start -->
    <div class="u-row  padding-15 text-center  font-size-12">
        <div class="page">
            <div class="row">
                <div class="u-col-md-4 margin-top-10 overhide">
                    
                    <div class="footer-part" >
                       
                        <i class=" footer-part-label uf uf-qq lable-icon"></i>
                        <div  class="text-left footer-part-info">
                            <p class="footer-part-title">iuap design 官方交流群</p>
                            <p class="footer-part-desc">527124070</p>
                        </div>
                    </div>
                </div>
                <div class="u-col-md-4 margin-top-10  overhide">
                    
                    <div class="footer-part" >
                        <i class=" footer-part-label uf uf-github-c lable-icon"></i>
                        
                        <div  class="text-left footer-part-info">
                            <p class="footer-part-title">Github 地址</p>
                            <a class="footer-part-desc"  href="https://github.com/iuap-design" target="_blank">https://github.com/iuap-design</a>
                        </div>
                    </div>
                </div>
                <div class="u-col-md-4 margin-top-10 overhide">
                   
                        <div class="footer-part" >
                            <i class=" footer-part-label uf uf-link lable-icon"></i>
                            
                            <div  class="text-left footer-part-info">
                                <p class="footer-part-title">相关链接</p>
                                <a class="footer-part-desc" href="http://design.yyuap.com/" target="_blank">iuap design</a>
                            </div>
                        </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!-- 联系end -->
    <!-- 版权 start -->
    <div class="u-row padding-5 text-center bg-white font-size-12 ">
        <p>Copyright © 2016 yonyou iuapdesign. All Rights Reserved版权所有 <a href="http://www.miibeian.gov.cn/">京ICP备15025219号-1</a>
            <br>Made with <i class="fa fa-heart pulse red"></i> by FED team</p>
    </div>
</footer>

