<nav class="u-navbar u-navbar-default" role="navigation">
    <div class="u-container">
        <div class="u-navbar-header">
            <button type="button" class="u-navbar-toggle u-hamburger u-hamburger-close  u-collapsed" data-target="#example-default-collapse" data-toggle="collapse">
                <!-- <span class="sr-only">Toggle navigation</span> -->
                <span class="u-hamburger-bar"></span>
            </button>
            <a class="u-navbar-brand" href="/"><img src="/assets/images/tinperlogos32.png" alt=""></a>
        </div>
        <div class="u-collapse u-navbar-collapse u-navbar-collapse-group" id="example-default-collapse">
            <ul class="nav-list u-navbar-toolbar u-navbar-right u-navbar-toolbar-right">
                <li class="dropdown">
                    <a href="/">首页</a>
                </li>
                <li class="dropdown">
                    <a class="nav-par">产品</a>
                    <ul>
                      <li><a href="/dist/uba/index.html" >前端集成开发工具uba</a></li>
                      <li><a href="/dist/neoui/index.html" >UI框架neoui</a></li>
                      <li><a href="/dist/react/index.html" >React组件库bee</a></li>
                      <li><a href="/dist/kero/index.html">UI数据模型kero</a></li>
                      <li><a href="/dist/sparrow/index.html">前端基础库sparrow</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/dist/webIDE/index.html">样式板</a>
                </li>

                <li class="dropdown">
                    <a class="nav-par" href="/dist/package/index.html">下载</a>
                </li>
                <li class="dropdown">
                    <a class="nav-par" href="https://github.com/iuap-design/tinper.org/issues">反馈</a>
                </li>
                <!-- <li class="dropdown">
                    <a href="/dist/case/index.html">案例</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
