{{{include '../_header'}}}
<link rel="stylesheet" href="//design.yyuap.com/static/uui/latest/css/u.css">
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/doc.css">
<link rel="stylesheet" href="/assets/css/react_widget.css">
<link rel="stylesheet" href="/assets/css/react_demo.css">
<!-- 代码高亮 -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css"> -->
<link rel="stylesheet" href="/assets/vendor/highlight/magula.css">
<script src="//design.yyuap.com/static/jquery/jquery-1.9.1.min.js"></script>
<!-- <script src="//design.yyuap.com/static/knockout/knockout-3.2.0.debug.js"></script> -->
<script src="//design.yyuap.com/static/uui/latest/js/u.js"></script>

<!-- react组件 -->
<script src="/assets/vendor/react/index.js"></script>
<script src="/assets/vendor/react/es5-shim.min.js"></script>
<script src="/assets/vendor/react/es5-sham.min.js"></script>
<script src="/assets/vendor/react/react-with-addons.min.js"></script>
<script src="/assets/vendor/react/react-dom.min.js"></script>
