<!DOCTYPE html>
<html lang="en">
<head>
	<!-- 引入head -->
	{{{include '../../../partial/kero/header'}}}
</head>
<body>
	<!-- nav头部 -->
	{{{include '../../../partial/kero/nav'}}}

	<div class="main">
		<div id="content-wrap">
			<div id="content" class="wrapper">
				<div id="content-inner">
					<!-- content -->
					<div class="article-container">
						<div class="article">
							<div class="article-header">
								<a href="#" id="docBtn">
									<i class="uf uf-navmenu"> </i>
								</a>
							</div>
							<%Content%>
						</div>
					</div>

					<!-- side bar -->
					<div id="sidebar">
						{{{include './SUMMARY'}}}
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- 引入end -->
	{{{include '../../../partial/kero/footer'}}}
</body>
</html>
