<!DOCTYPE html>
<html>

<head>
    {{{include '../partial/product/header'}}}
</head>

<body>
    <!-- 导航 开始  -->
    {{{include '../partial/_nav'}}}
    <!-- 导航 结束 -->
    <!-- welcome <img src="images/iuapdesignicon1.png"alt=""><br>-->
    <div class="content">
        <div class="desc"><!--
          <div class="desc-headings" style="background-image: url('{{{product.backgroundImg}}}')">

          </div> -->
          <div class="desc-headings">
              <img src="{{{product.backgroundImg}}}" >
          </div>

          <div class="desc-content ">
             <div class="padding-horizontal-50">
                 <h1 class="font-size-24 margin-bottom-20 font-weight-600">{{{product.proName}}}</h1>
                 <div class="font-size-16 font-weight-300" id="prodetail">
                   {{{product.introduce}}}
                 </div>
                  <a class="u-button u-button-border info docInfo" href="{{{product.docHref}}}" >查看具体文档</a>
             </div>
          </div>
        </div>
        <div class="feature">
          <div class="u-container">
             <!--  <div class="u-row ">
                  <div class="u-col-sm-6 u-col-md-4 u-col-lg-4 margin-top-35">
                      <div class="feature-icon">
                          <span class="uf uf-leaf"></span>
                      </div>
                      <div class="feature-desc margin-vertical-20">
                          <strong class="step-no">01</strong>
                          <h3 class="feature-title">响应式</h3>
                          <p >NeoUI栅格系统是一套非常适合网页开发的科学的栅格系统，可以根据实际显示页面的大小， 实时的调整页面布局，一次代码书写，多端运行</p>
                      </div>
                  </div>

                  <div class="u-col-sm-6 u-col-md-4 u-col-lg-4 margin-top-35">
                      <div class="feature-icon">
                          <span class="uf uf-leaf"></span>
                      </div>
                      <div class="feature-desc margin-vertical-20">
                          <strong class="step-no">02</strong>
                         <h3 class="feature-title">按需定制</h3>
                          <p >支持主题定制和资源定制，开发者可以通过自定义 Syle样式组件、JavaScript 插件和选择 ie8 补丁，定制一份属于特制的neoui框架 ，减小文件尺寸</p>
                      </div>
                  </div>
                  <div class="u-col-sm-6 u-col-md-4 u-col-lg-4 margin-top-35">
                      <div class="feature-icon">
                          <span class="uf uf-leaf"></span>
                      </div>
                      <div class="feature-desc margin-vertical-20">
                          <strong class="step-no">03</strong>
                          <h3 class="feature-title">兼容性</h3>
                          <p >支持IE8+ 、firefox、Chrome、Safari等主流浏览器，轻松帮您解决浏览器兼容问题，大大节约开发时间</p>
                      </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="u-col-sm-6 u-col-md-4 u-col-lg-4 margin-top-35">
                      <div class="feature-icon">
                          <span class="uf uf-leaf"></span>
                      </div>
                      <div class="feature-desc margin-vertical-20">
                          <strong class="step-no">04</strong>
                          <h3 class="feature-title">组件丰富</h3>
                          <p >包含丰富的CSS组件和JavaScript插件。其中包含JavaScript插件（30+个），并在持续开发中，代码简洁、 规范、易于修改</p>
                      </div>
                  </div>
                  <div class="u-col-sm-6 u-col-md-4 u-col-lg-4 margin-top-35">
                      <div class="feature-icon">
                          <span class="uf uf-leaf"></span>
                      </div>
                      <div class="feature-desc margin-vertical-20">
                          <strong class="step-no">05</strong>
                          <h3 class="feature-title">完善文档示例</h3>
                          <p >
每个组件都有详细的文档讲解、API说明、示例展示。为了方便开发者使用，我们将常用的示例放在了样式版上，开发者可以在线调试，而且可下载对应示例代码</p>
                      </div>
                  </div>

              </div> -->


              <div class="u-row">
                {{{each product.features as item}}}
                <div class="u-col-md-4 u-col-sm-6">
                    <div class="info-box1">
                        <span class="info-box-icon icon clean hover-colorful effect1 x4 rounded">
                            <i class="{{{item.img}}}"></i>
                        </span>
                        <div class="info-box-content">
                           <h4>{{{item.name}}}</h4>
                          <p>
                            {{{item.desc}}}
                            <br>
                            {{{if item.link}}}
                            <a href="{{{item.link}}}" class="" style="display:block;margin-top:5px;">使用说明</a>
                            {{{/if}}}
                          </p>

                        </div>
                    </div>
                </div>
                {{{/each}}}
              </div>
          </div>
        </div>
    </div>
    <!-- 开始使用 end -->
    <!-- 导航 开始  -->
    {{{include '../partial/index/footer'}}}
    <!-- 导航 结束 -->
    <!-- 版权 end -->

</body>
<!-- Body End-->

</html>
