/*md文档公共样式*/

/*导航*/
.u-navbar{top:0px;}

/*content部分*/
.wrapper:after, .wrapper:before {
    content: "";
    display: table
}
.wrapper:after {
    clear: both
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto
}

/*代码code背景*/
p code{
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

/*整体内容区域*/
#content-wrap {
    background: #fff;
    margin-top:52px;
    font-size:14px;
}
#content-wrap li,#content-wrap ul{
    list-style:none;
}

#content-wrap .article-container li,#content-wrap  .article-container ul{
    list-style-type: disc;
}

#content-wrap .article-container ul.icon_lists li,#content-wrap  .article-container ul.icon_lists{
    list-style-type: none;
}

#content-wrap .article-container .u-pagination li, #content-wrap  .article-container .u-pagination ul{
    list-style-type: none;
}

#content-wrap ul.ui-gallery{
    padding-left:0px;
    overflow: hidden;
}

/*左导航内容*/
#sidebar {
    width: 220px;
    float: left;
    padding-bottom: 40px;
    opacity: .8;
    margin-left: -220px;
    display: block;
}
#sidebar a{
    display: block;
    color:#444;
    text-decoration: none;
    padding:7px 0;
    position:relative;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:14px;
    text-indent:15px;
}
#sidebar a:hover,#sidebar a.active{
    color:#4caf50;
    background:#F3F7F9;
}
#sidebar > ul > li{
    cursor: not-allowed;
    color: #999;
    list-style:none;
}

#sidebar > ul > li > span{
    display: block;
    padding: 7px 0;
    text-indent: 15px;
}

#sidebar li > ul{
    padding-left:15px;
}

#sidebar li > ul > li {
    border-left:1px solid #e3e3e3;
}

/*内容区域*/


#content-inner #sidebar {
    display: block;
}


#content-inner {
    margin-left: 220px;
    border-left:1px solid #e3e3e3;
    webkit-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    -moz-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    -o-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
}
#content-inner:after, #content-inner:before {
    content: "";
    display: table
}
#content-inner:after {
    clear: both
}

#content-inner.doctoggle  {
    margin-left: 0px;
    border-left: 0px;
}


#content-inner.doctoggle  #sidebar {
    display: none;
    webkit-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    -moz-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    -o-transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
    transition: all 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860) ;
}


/*文档手机端响应式处理*/
@media (max-width: 767px) {
    #content-inner  {
        margin-left: 0px;
        border-left: 0px;
    }


    #content-inner #sidebar {
        display: none;
    }

    #content-inner.doctoggle  {
        margin-left: 220px;
        border-left:1px solid #e3e3e3;
    }


    #content-inner.doctoggle  #sidebar {
        display: block;
    }

}




.article-container {
    float: right;
    width: 100%
}
.article-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article-container h1{
    font-size:24px;
    font-weight: normal;
}
.article-container h2,.article-container h3{
    font-weight:normal;
}
.article-container .article{
    width:90%;
    margin:0 5%;
}

/*table样式*/
.article-container table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    margin-bottom:30px;
}
.article-container table tbody tr{
    border-top: 1px solid rgb(224,224,224);
}
.article-container table tbody tr:nth-child(2n+1){
    background-color:rgba(238,238,238,.3);
}
.article-container table tr:nth-child(2n){
    background: none;
}
.article-container table td,.article-container table th{
    border:none;
    padding: 6px 13px;
}
.article-container table td{
    font-size:14px;
}
.article-container table th{
    font-weight:500;
}
.article-container a{
    color:#4caf50;
    text-decoration: none;
}
.article-container p,.article-container li{
    font-size:14px;
}

#content-wrap .example-content li{
    list-style: none;
}

.example-content{
    position: relative;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}

.example-content.ex-hide{
    display: none;
}

/*编辑代码高亮*/
.examples-code code.hljs{
    font-size:12px;
    line-height: 20px;
}


.example-content:after {
    clear: both;
}

.example-content:after ,.example-content:before {
    display: table;
    content: "";
}
