/*导航*/
.u-navbar{top:0px;}

/*content部分*/
.wrapper:after, .wrapper:before {
    content: "";
    display: table
}
.wrapper:after {
    clear: both
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto
}

/*整体内容区域*/
#content-wrap {
    background: #fff;
    margin-top:52px;
}

/*左导航内容*/
#sidebar {
    width: 220px;
    float: left;
    padding-bottom: 40px;
    opacity: .8;
    margin-left: -220px;
    display: none
}
@media screen and (min-width:769px) {
    #sidebar {
        display: block
    }
}

#sidebar a{
    display: block;
    color:#444;
    text-decoration: none;
    padding:7px 0;
    position:relative;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:14px;
}

#sidebar a:hover,#sidebar a:active{
    color:#4caf50;
}





#content-inner:after, #content-inner:before {
    content: "";
    display: table
}
#content-inner:after {
    clear: both
}
@media screen and (min-width:769px) {
    #content-inner {
        margin-left: 220px
    }
}



@media screen and (min-width:769px) {
    .article-container {
        float: right;
        width: 100%
    }
}