/*导航*/
.u-navbar{top:0px;}

/*content部分*/
.wrapper:after, .wrapper:before {
    content: "";
    display: table
}
.wrapper:after {
    clear: both
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto
}

/*整体内容区域*/
#content-wrap {
    background: #fff;
    margin-top:52px;
}

/*左导航内容*/
#sidebar {
    width: 220px;
    float: left;
    padding-bottom: 40px;
    opacity: .8;
    margin-left: -220px;
    display: block;
}
#sidebar a{
    display: block;
    color:#444;
    text-decoration: none;
    padding:7px 0;
    position:relative;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size:14px;
    text-indent:15px;
}
#sidebar a:hover,#sidebar a.active{
    color:#4caf50;
    background:#F3F7F9;
}

#content-inner {
    margin-left: 220px;
    border-left:1px solid #e3e3e3;
}
#content-inner:after, #content-inner:before {
    content: "";
    display: table
}
#content-inner:after {
    clear: both
}

.article-container {
    float: right;
    width: 100%
}
.article-container h1{
    font-size:24px;
    font-weight: normal;
}
.article-container h2,.article-container h3{
    font-weight:normal;
}
.article-container .article{
    width:90%;
    margin:0 5%;
}


