    <footer class="u-container">
        <!-- 联系start -->
        <div class="u-row  padding-15 text-center bg-white font-size-12">
            <div class="page">
                <div class="row">
                    <div class="u-col-md-5 text-left">
                        <h5><font><font>关于tinper</font></font></h5>
                        <p>
                            <font>
                                <font>
                                    tinper通过提供基础开发工具及一系列UI组件，方便用户快速开发标准一致极具设计感的前端页面。目前tinper提供的产品包括：集成开发uba、前端组件库neoui、React组件库bee、表格组件grid、UI数据模型kero、基础工具库sparrow等
                                </font>
                            </font>
                        </p>

                    </div>
                    <div class="u-col-md-2 text-left friend-link">
                        <h5><font>友情链接：</font></h5>
                        <p>
                            <a href="http://iuap.yonyou.com/" target="_blank">iuap</a>
                            <br>
                            <a href="http://design.yyuap.com/" target="_blank">iuap design</a>
                        </p>
                    </div>
                    <div class="u-col-md-2 text-left ">
                        <h5><font>加入我们：</font></h5>
                        <p>电话：010-62438768
                            <br>邮箱：zhaoyni@yonyou.com
                            <br>工作日：9:00-17:00</p>
                    </div>
                    <div class="u-col-md-3 text-left">
                        <h5><font><font>关注我们</font></font></h5>
                        <div class="u-col-6 u-col-xs-6">
                            <div class="padding-0">
                                <div class="u-counter u-counter-lg">
                                    <span><img class="width-50" src="/assets/images/qq-2d-code.png" alt="1"></span>
                                    <div class="u-counter-label text-uppercase">
                                        <font>
                                            <br>
                                            <font class="">官方QQ交流群</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-col-6 u-col-xs-6">
                            <div class=" padding-0">
                                <div class="u-counter u-counter-lg">
                                    <span><img class="width-50" src="/assets/images/git-2d-code.png" alt="1"></span>
                                    <div class="u-counter-label">
                                        <font>
                                            <br>
                                            <font class="">GitHub地址</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 联系end -->
        <!-- 版权 start -->
        <div class="u-row padding-5 text-center bg-white font-size-12 ">
            <p>Copyright © 2016 yonyou iuapdesign. All Rights Reserved版权所有 <a href="http://www.miibeian.gov.cn/">京ICP备15025219号-1</a>
                <br>Made with <i class="fa fa-heart pulse red"></i> by FED team</p>
        </div>
    </footer>
