<!-- 导航 开始  -->
<nav class="u-navbar u-navbar-default" role="navigation">
    <div class="u-container">
        <div class="u-navbar-header">
            <button type="button" class="u-navbar-toggle u-hamburger u-hamburger-close  u-collapsed" data-target="#example-default-collapse" data-toggle="collapse">
                <!-- <span class="sr-only">Toggle navigation</span> -->
                <span class="u-hamburger-bar"></span>
            </button>
            <a class="u-navbar-brand" href="/"><img src="/assets/images/tinperlogos32.png" alt=""></a>
        </div>
        <div class="u-collapse u-navbar-collapse u-navbar-collapse-group" id="example-default-collapse">
            <ul class="nav-list u-navbar-toolbar u-navbar-right u-navbar-toolbar-right">

                {{each nav as top}}
                    <li class="dropdown">
                        <a class="nav-par" href="{{top.href}}">{{top.name}}</a>
                        {{if top.sub}}
                            <ul>
                                {{each top.sub as second}}
                                    <li><a href="{{second.href}}"></a>{{second.name}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                {{/each}}
                
            </ul>
        </div>
    </div>
</nav>